{% extends 'layouts/main.html' %}


{% block body %}

{% load static %}



<form method="post" action="{% url 'login' %}">
   {% csrf_token %}
   <h2>Login form</h2>
   <label for="username">Username:</label>
   <input type="text" id="username" name="username" placeholder="enter username">
   <br>
   <label for="password">Password:</label>
   <input type="password" id="password" name="password" placeholder="enter password">
   <br>

   <button type="submit">Login</button>
</form>

{% for messages in messages %}
  <h3 style="color: #ff512f">{{messages}}</h3>
{% endfor %}

{% endblock body %}